@media screen and (max-width: 1024px) {
    /* MOBILE NAV  */
    
    #desktop-nav {
        display: none;
    }

    .menu-links   {
        top: 90%;
        padding: 0px 50px;
    }

    .menu-links a {
        margin-left: 2%;
    }

    .hamburger-icon.open span:first-child {
        transform: rotate(45deg) translate(10px, 5px);
    }
    .hamburger-icon.open span:nth-child(2) {
        opacity: 0;
    }
    .hamburger-icon.open span:last-child {
        transform: rotate(-45deg) translate(10px, -5px);
    }
    
    .hamburger-icon span:first-child {
        opacity: 1;
        transform: none;
    }

    #hamburger-nav {
        display: flex;
        margin-right: 5%;
    }

    .menu-links {
        height: fit-content;
    }
    .mobile-dropdown-content-1 {
        display: none;
        padding: 0.5rem;
        z-index: 1000;
    }
    
    .mobile-dropdown-content-1 a {
        font-size: 1rem;
        list-style: none;
    }

    .mobile-dropdown-content-2 {
        display: none;
        padding: 0.5rem;
        z-index: 1000;
    }
    
    .mobile-dropdown-content-2 a {
        font-size: 1rem;
        list-style: none;
    }

    .menu-links a {
        font-size: 1rem;
    }
    /* MOBILE BODY */
    #main-heading-container h1 {
        font-size: 6vh;
    }

    #maps-label {
        color: white;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    #map-iframe {
        border: 2px solid #000000; /* Border width and color */
        border-radius: 8px; /* Rounded corners */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow for depth effect */
        width: 85%; /* Adjust width as needed */
        height: 400px; /* Adjust height as needed */
    
    }

    #courts-label {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    button {
        font-size: 0.8rem;
    }

    .gym-rectangle {
        display: inline;
        flex-direction: column;
        background-color: rgba(159, 159, 159, 0.385);
        color: rgb(255, 255, 255);
        height: fit-content;
        width: 90%;
        border-radius: 20px;
        align-self: center;
        justify-self: center;
        text-wrap: wrap;
    }



/* MOBILE FOOTER */
.site-footer {
    width: 100%;
    height: 450px;
    background-color:#26272b;
    padding:45px 2px 10px;
    font-size: 0.8rem;
    line-height:22px;
    color:#737373;
    }

.footer-column-1 {
    max-width: 70%;
    margin-left: 1%;
}

.footer-column-2 {
    max-width: 15%;
    margin-left: 2%;
}

.footer-column-3 {
    max-width: 33%;
    margin-left: 5%;

}

/* GYM PAGE MOBILE */

.gym-body-container {
    display: flex;
    height: fit-content;
    width: 100%;
    min-height: 175vh;
    justify-content: center;
    align-items: center;
}

.gym-page-rectangle {
    display: block;
    color: white;
    height: fit-content;
    width: 85%;
    border-radius: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.gym-page-title {
    width: 100%;

}

.gym-page-rectangle img {
    width: 90%;
    margin-left: 5%;
}
.gym-page-hours {
    float: none;
    display: none;
}

.gym-page-hours h3 {
    font-size: 1rem;
}

.gym-page-hours-mobile {
    margin-left: 2.5%;
    margin-top: 5%;
    display: block;
}

.gym-page-hours-mobile p {
    margin-top: 0.8rem;
}

.gym-page-information {
    margin-bottom: 2rem;
}
.gym-page-information p {
    margin-top: 0.8rem;
}

.gym-page-address {
    text-align: center;
    margin: 0;
}

.gym-page-rating {
    width: 100%;
    margin-left: 0%;
    text-align: center;
}
.gym-page-button {
    margin-bottom: 1rem;
}

/* REVIEW PAGE MOBILE */
.review-body-container {
    display: flex;
    height: fit-content;
    width: 80%;
    margin-left: 10%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
form {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 250px;
    margin-bottom: 50px;
}
}

/* IPhone SE or Smaller devices */
@media screen and (max-width: 400px) {

    #main-heading-container h1 {
        font-size: 5vh;
        margin-top: 24vh;
    }

    .gym-parent {
        display: grid;
        place-items: center; /* Center both horizontally and vertically */
        height: fit-content;
        margin-bottom: 20px;
    }

    .gym-body-container {
        display: flex;
        height: fit-content;
        width: 100%;
        min-height: 200vh;
        justify-content: center;
        align-items: center;
    }

    .menu-links a {
        display: block;
        padding: 15px;
        text-align: left;
        font-size: 0.75rem;
        color: rgb(255, 255, 255);
        text-decoration: none;
        transition: all 0.3s ease-in-out;
    }

    .review-body-container {
        display: flex;
        height: fit-content;
        width: 80%;
        margin-left: 10%;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }

    form {
        background-color: #fff;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-top: 250px;
        margin-bottom: 50px;
    }
    
}